.container {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}


body {
  background: #f8f8f8;
  color: #333333;
  font-family: 'Lato', sans-serif;
  padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Architects Daughter', cursive;
}


h1 {
  font-size: 48px;
  margin-bottom: 15px;
}
p {
  margin-bottom: 20px;
}

ul, ol {
  margin-left: 20px;
}
#header {
  background: #ffffff;
  padding: 15px;
  margin: 0 auto 25px auto;
  border-bottom: 5px solid #4ec0b0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9001;
}
#header nav li {
  float: left;
}

.logo {
  width: 300px;
}

#main-content {
  background: #ffffff;
  width: 70%;
  padding: 15px;
  float: left;
}

#main-content h1 {
  color: #2a4758;
  border-bottom: 1px solid #f05b62;;
}

#main-content h2 {
  font-size: 24px;
  font-weight: bold;
  color: #4ec0b0;
}

.pink {
  color: #f05b62;
}

img.gallery {
  width: 500px;
}

#side-bar {
  background: #2a4758;
  color: #f8f8f8;
  width: 30%;
  padding: 15px;
  border-left: 5px solid #f05b62;
  float:right;
}

#side-bar h5, #side-bar h6 {
  font-size: 18px;
  color: #f05b62;
}




.year-gallery {
  width: 28%;
  position: relative;
  border: 2px solid #666666;
  line-height: 0;
  float: left;
  margin: 1%;
  padding: 1%;
}




.year-gallery p {
  background: rgba(0,0,0,.8);
  color: white;
  position: absolute;
  bottom: 1%;
  padding: 20px;
  font-size: 15px;
  display: block;

}

.year-gallery img {
  max-width: 100%;
}

.timeline {
  clear: both;
}


.bio {
  border-bottom: 2px solid #4ec0b0;
  padding: 15px;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
}

.bio img {
  float: left;
  width: 200px;
  margin: 0 15px 15px 0;
}
